@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvoledor @ViewData["Desenvolvedor"]</p>


<address>
    <strong>More information: </strong><a href="https://www.liannys.com.br/">LIANNY'S</a>
</address>